*{
  margin: 0;
  padding: 0;
}


.yiwan{
  position: relative;
  top: 20px;
  left: 600px;
  font-size: 40px;
}

.erwan{
  position: relative;
  top: 60px;
  left: 150px;
  font-size: 20px;
  text-transform: uppercase;
}

.sanwan{
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  left: 120px;
  top: -15px;
}

.siwan{
  position: relative;
  top: -45px;
  left: 1000px;
}

.sanwan ul li{
  display: inline;
}

.siwan ul li{
  display: inline;
}

a{
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

nav ul{
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
}

.yiwan ul li{
  display: inline;
}

.erwan ul li{
  display: inline;
  padding: 5px 10px 5px 10px;
}

.erwan ul li a:link,.er ul li a:visited{
  border-bottom: none;
  font-weight: bold;
}

.erwan ul li.selected{
  background-color: aquamarine;
}

.yiwan ul li a:link,.yiwan ul li a:visited{
  font-weight: bold;
  border-bottom: none;
  font-size: 40%;
}

/* .BETC{
  position: relative;
  top: 50px;  
} */

.huise{
  position: relative;
  top: -300px;
  left: 0px;
  opacity: 99%;
}

.link1:hover{
  color: orange;
  transition: 0.7s;
}

.link1{
  color: black;
}

.link2:hover{
  color: orange;
  transition: 0.7s;
}

.link2{
  color: gray;
}

.huise{
  position: relative;
  top: -40px;
}

.BETC{
  color: black;
  text-align: center;
  font-size: 1500%;
  font-weight: 900;
  position: relative;
  top: 80PX;
}

.sousu{
  position: relative;
  top: 100px;
  left: 50px;
}

.BETC2{
  color: black;
  font-size: 250%;
  font-weight: 900;
  position: relative;
  top: 25px;
}

.link3{
  color: grey;
}

.link2:hover{
  color: orange;
  transition: 0.7s;
}

#b{
  position: relative;
  scroll-behavior: smooth;
  height: 100vh;
  width:100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#b:target{
  top: 200px;
  left: 0px;  
}

section{
  scroll-snap-align: start;
}

/* html{
  scroll-behavior: smooth;
} */

