*{
  margin: 0;
  padding: 0;
}


.yi{
  position: relative;
  top: 20px;
  left: 600px;
  font-size: 40px;
}

.er{
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 20px;
  text-transform: uppercase;

}

a{
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

nav ul{
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
}

.yi ul li{
  display: inline;
}

.er ul li{
  display: inline;
  padding: 5px 10px 5px 10px;
}

.er ul li a:link,.er ul li a:visited{
  border-bottom: none;
  font-weight: bold;
}

.er ul li.selected{
  background-color: aquamarine;
}

.yi ul li a:link,.yi ul li a:visited{
  font-weight: bold;
  border-bottom: none;
  font-size: 40%;
}

/* .BETC{
  position: relative;
  top: 50px;  
} */

.huise{
  position: relative;
  top: -300px;
  left: 0px;
  opacity: 99%;
}

.link1:hover{
  color: orange;
  transition: 0.7s;
}

.link1{
  color: black;
}

.link2:hover{
  color: orange;
  transition: 0.7s;
}

.link2{
  color: gray;
}

.huise{
  position: relative;
  top: -40px;
}

.BETC{
  color: black;
  text-align: center;
  font-size: 1500%;
  font-weight: 900;
  position: relative;
  top: 80PX;
}